* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  /* height: 64px; */
  font-size: 20px;
  font-weight: 600;
  padding: 20px 36px;
  color: #f15b22;
  border: none;
  background-color: #ffffff;
}

/* header styles Start  */
.header {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: end;
  background: url("../images/banner/banner1.png");
}
.header-part {
  padding: 150px 120px 0 805px;
  text-align: right;
  text-align: justify-all;
}
.header-title {
  width: 700;
  font-size: 65px;
  margin-bottom: 24px;
}

.header-description {
  width: 400;
  color: #444343;
  line-height: 26px;

  font-size: 16px;
  padding-bottom: 32px;
}
.header-button {
  width: 160px;
  height: 64px;
  background-color: #f15b22;
  color: #ffffff;
  border: 0;
}
/* ------header styles Start------  */

/* main section */
main {
  max-width: 1100px;
  margin: 0 auto;
}

/* my-failures */
.my-failures {
  display: flex;
  margin-top: 130px;
}
.my-failures-img {
  max-width: 569px;
  max-height: 723px;
  /* background-color: #f15b22;
  border-radius: 75%; */
}

.sub-my-failures {
  /* padding-top: 330px; */
  padding: 330px 0px 170px 100px;
}
.my-failures-title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 24px;
}
.my-failures-description {
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 16px;
  line-height: 26px;
  color: #000000;
  opacity: 45%;
}

.failures-list ul > li {
  list-style: none;
  color: #16d887;
}
.failures-list ul li a {
  color: #444343;
  font-size: 16px;
  padding-left: 10px;
}

/* my plans */
.my-plans-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;

  margin-bottom: 55px;
}
.my-plans-info-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 180px;
}
.plan-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
  padding-top: 15px;
}
.plan-description {
  padding-top: 15px;
}

/* watch */
.mindset {
  margin: 0 45px;
  height: 260px;
  background: linear-gradient(
      135deg,
      hsla(0, 100%, 48%, 0.75),
      hsla(338, 40%, 63%, 0.55)
    ),
    url("../images/watch.png");
  background-size: cover;
  margin-bottom: 130px;
  /* z-index: 1; */
}
.watch {
  padding: 60px 500px 60px 65px;
}
.watch p {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  padding-bottom: 18px;
}

.footer {
  background-color: #000000;
}
.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 400px;
}
.footer-title {
  font-size: 45px;
  font-weight: 700;
  color: #f8f8f8;
  padding-top: 130px;
}
.footer-description {
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.footer-email {
  padding: 25px 0;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.footer-phone {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 32px;
}
.container-info img {
  direction: none;
  padding: 0 15px 0 0;
  padding-bottom: 130px;
}
.container-subcribe-title {
  padding-top: 130px;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
}
.subscribe input[type="text"] {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  background-color: #000000;
  border-radius: 5px;
  /* margin-bottom: 24px; */

  width: 100%;
  padding: 18px 15px;
  color: #f15b22;
}
